/* ----------  page defaults ---------- */

html {
		font-size: 100%;
		background-color: #333;
		}

body {
		font-size: 70%;
		font-family: Arial, Verdana, Helvetica, sans-serif;
		background: #333;
		color: black;
		}
		
/* ----------  primary layout ---------- */

#wrapper {
		width: 400px;
		
		}
		
#header {
		padding-top: 40px;
		width: 400px;
		}
		
p {
		font-size: 1.4em;
		width: 400px;
		}
		
a:link,		
a:visited {
		color: #a2b52d;
		text-decoration: none;
		}
		
a:hover, 
a:focus {
		border-bottom: 1px dotted #a2b52d;
		}

div {
    width: 500px;
    height: 700px;
    border-radius: 50px;
    background-color: #f2f2f2;
    padding: 40px;
    opacity: 0.8;
    filter: alpha(opacity=80); @Lyo=@ For IE8 and earlier @Ki8=@

}
